(
  id: "tree_object",
  display_name: "Tree",
  size: (5, 13),
  sprite: "tree.png",
  placement: Floor,
  object_type: Decoration,
  background: true,
  drops: [
    (item_id: "wood", min: 3, max: 5),
  ],
)
