(
    id: "tundra",
    surface_block: "snow_dirt",
    subsurface_block: "frozen_dirt",
    subsurface_depth: 4,
    fill_block: "stone",
    cave_threshold: 0.35,
    parallax: Some("content/biomes/tundra/tundra.parallax.ron"),
    snow_base_chance: 0.8,
    snow_permanent: true,
    temperature_offset: -20.0,
)
