(
  speed: 100.0,
  jump_velocity: 220.0,
  gravity: 500.0,
  width: 16.0,
  height: 32.0,
  magnet_radius: 48.0,
  magnet_strength: 400.0,
  pickup_radius: 20.0,
  swim_impulse: 180.0,
  swim_gravity_factor: 0.3,
  swim_drag: 0.15,

  sprite_size: (48, 48),
  animations: {
    "staying": (
      frames: [
        "sprites/body/staying/frame_000.png",
        "sprites/body/staying/frame_001.png",
        "sprites/body/staying/frame_002.png",
        "sprites/body/staying/frame_003.png",
      ],
      fps: 4.0,
    ),
    "running": (
      frames: [
        "sprites/body/running/frame_000.png",
        "sprites/body/running/frame_001.png",
        "sprites/body/running/frame_002.png",
        "sprites/body/running/frame_003.png",
        "sprites/body/running/frame_004.png",
        "sprites/body/running/frame_005.png",
      ],
      fps: 10.0,
    ),
    "jumping": (
      frames: [
        "sprites/body/jumping/frame_000.png",
        "sprites/body/jumping/frame_001.png",
        "sprites/body/jumping/frame_002.png",
        "sprites/body/jumping/frame_003.png",
        "sprites/body/jumping/frame_004.png",
        "sprites/body/jumping/frame_005.png",
        "sprites/body/jumping/frame_006.png",
        "sprites/body/jumping/frame_007.png",
        "sprites/body/jumping/frame_008.png",
      ],
      fps: 12.0,
    ),
  },

  parts: Some((
    body: (
      sprite_dir: "sprites/body",
      frame_size: (48, 48),
      offset: (0.0, 0.0),
    ),
    head: Some((
      sprite_dir: "sprites/head",
      frame_size: (48, 48),
      offset: (0.0, 0.0),
    )),
    front_arm: Some((
      sprite_dir: "sprites/front_arm",
      frame_size: (48, 48),
      offset: (0.0, 0.0),
    )),
    back_arm: Some((
      sprite_dir: "sprites/back_arm",
      frame_size: (48, 48),
      offset: (0.0, 0.0),
    )),
  )),
)
