(
  speed: 100.0,
  jump_velocity: 220.0,
  gravity: 500.0,
  width: 16.0,
  height: 32.0,
  magnet_radius: 48.0,
  magnet_strength: 400.0,
  pickup_radius: 20.0,
  swim_impulse: 180.0,
  swim_gravity_factor: 0.3,
  swim_drag: 0.15,

  sprite_size: (128, 128),
  render_scale: 0.375,

  animations: {
    "staying":  (fps: 4.0),
    "running":  (fps: 10.0),
    "jumping":  (fps: 12.0),
  },

  parts: Some((
    body: (
      sprite_dir: "sprites/body",
      frame_size: (128, 128),
      offset: (0.0, 0.0),
    ),
    head: Some((
      sprite_dir: "sprites/head",
      frame_size: (128, 128),
      offset: (0.0, 0.0),
    )),
    legs: Some((
      sprite_dir: "sprites/legs",
      frame_size: (128, 128),
      offset: (0.0, 0.0),
    )),
    hand_right: Some((
      sprite_dir: "sprites/hand_right",
      frame_size: (128, 128),
      offset: (0.0, 0.0),
      pivot: Some((0.0, 13.0)),
      default_angle: Some(-10.0),
    )),
    hand_left: Some((
      sprite_dir: "sprites/hand_left",
      frame_size: (128, 128),
      offset: (0.0, 0.0),
      pivot: Some((0.0, 13.0)),
      default_angle: Some(-10.0),
    )),
  )),
)
