(
  id: "blueprint_stone_pickaxe",
  display_name: "Blueprint: Stone Pickaxe",
  description: "Learn to craft a stone pickaxe.",
  max_stack: 1,
  rarity: Uncommon,
  item_type: Blueprint,
  blueprint_item: Some("stone_pickaxe"),
)
