(
  id: "wooden_chest",
  display_name: "Wooden Chest",
  size: (2, 1),
  sprite: "wooden_chest.png",
  solid_mask: [true, true],
  placement: Floor,
  object_type: Container( slots: 16 ),
  auto_item: Some((
    description: "A wooden chest for storing items.",
    max_stack: 10,
    item_type: Block,
  )),
)
